// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Inter', sans-serif;
@secondfont: 'Domine', serif;
@black: #000000;
@white: #ffffff;
@graytext: #828282;
@graybg: #F6F5FA;
@blue: #2B4C6F;
@yellow1: #F39930;
@yellow2: #FFD15C;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    color: @graytext;
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader {
    display: inline-block;
    height: 80px;
    width: 80px;
}

.loader:after {
    content: " ";
    animation: loader-spin 1.2s linear infinite;
    border-color: @black transparent @black transparent;
    border-radius: 50%;
    border: 6px solid @black;
    display: block;
    height: 64px;
    margin: 8px;
    width: 64px;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    background: @blue;
    color: @white;
    padding: 1.5rem 1rem;

    & .header-item {
        & .btn-header {
            background: @yellow1;
            border-radius: 0;
            color: @white;
            font-size: 0.9rem;
            font-weight: 300;
            padding: 0.5rem 2.5rem;

            &:hover {
                background: @yellow2;
                color: @white;
            }
        }
    }

    & .header-left {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 0.5rem;
    }

    & .header-right {
        text-align: right;
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */

.the-footer {
    background: @blue;
    color: @white;
    font-size: .9rem;
    font-weight: 200;
    padding: 2.5rem 1rem;
    text-align: center;

    & a {
        color: @white;
        text-decoration: none;

        &:hover {
            color: @yellow1;
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-banner-container {
    padding: 7rem 1rem;

    & .main-banner-img {
        position: relative;

        &::before {
            content: ' ';
            background: url(../images/points-bg.png);
            background-size: cover;
            height: 132px;
            left: 0%;
            position: absolute;
            top: 30%;
            width: 71px;
            z-index: -1;
        }

        & img {
            max-width: 80%;
        }
    }

    & .main-banner-text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 2.5rem;

        & .intro {
            color: @yellow1;
            font-family: @secondfont;
            font-size: 1.5rem;
            font-weight: 400;
        }

        & h1 {
            color: @blue;
            font-family: @secondfont;
            font-size: 2.8rem;
            font-weight: 600;
            margin: 1.5rem 0;
        }

        & h2 {
            color: @blue;
            font-family: @secondfont;
            font-size: 2.8rem;
            font-weight: 600;
            margin: 1.5rem 0;
        }
    }
}

.main-prices-container {
    background: @graybg;
    padding: 7rem 1rem;
    position: relative;

    & .main-prices-title {
        color: @blue;
        font-family: @secondfont;
        text-align: center;

        & h2 {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }

    & .main-prices-desc {
        color: @blue;
        text-align: center;
        padding: 1.5rem 1rem;
    }

    & .main-prices-item {
        & .main-prices-item-wrapper {
            align-items: center;
            background: white;
            box-shadow: 0px 2.93592px 14.6796px rgba(69, 68, 68, 0.1);
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            min-height: 360px;
            padding: 2.5rem 4rem;
            text-align: center;

            & h3 {
                color: @blue;
                font-family: @secondfont;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 2.5rem;
                position: relative;

                &::after {
                    content: ' ';
                    position: absolute;
                    bottom: -22px;
                    left: 42.5%;
                    width: 20px;
                    height: 1px;
                    background-color: @blue;
                }
            }

            & .desc {
                font-size: 0.9rem;
            }

            & .actions {
                & .btn-donate {
                    background: @yellow1;
                    border-radius: 0;
                    color: @white;
                    font-size: 0.9rem;
                    font-weight: 300;
                    padding: 0.5rem 2.5rem;
                    text-transform: uppercase;

                    &:hover {
                        background: @yellow2;
                        color: @white;
                    }
                }
            }
        }
    }
}

.main-benefits-container {
    background: @graybg;
    padding: 2rem 1rem 5rem 1rem;
    position: relative;

    &::before {
        content: ' ';
        background: url(../images/points-bg.png);
        background-size: cover;
        height: 132px;
        left: 12%;
        position: absolute;
        top: -7%;
        width: 71px;
        z-index: 2;
    }

    & .main-benefits-title {
        color: @blue;
        font-family: @secondfont;
        text-align: center;
        padding: 1.5rem 1rem 5rem 1rem;

        & h2 {
            font-size: 2.4rem;
            font-weight: 600;

            & strong {
                color: @yellow1;
            }
        }
    }

    & .main-benefits-item {
        padding: 2rem 3rem;
        text-align: center;

        & img {
            margin-bottom: 2rem;
        }
    }

}

.main-about-container {
    background: @graybg;
    position: relative;

    &::before {
        content: ' ';
        background: url(../images/points-bg.png);
        background-size: cover;
        height: 132px;
        left: 12%;
        position: absolute;
        top: -7%;
        width: 71px;
        z-index: 2;
    }

    & .main-banner-img {
        &::before {
            display: none;
        }
    }

    & .main-banner-text {
        & .intro {
            margin-bottom: 1rem;
        }
    }
}

.main-testimonials-container {
    padding: 5rem 1rem;

    & .main-testimonials-title {
        position: relative;
        color: @blue;
        font-family: @secondfont;
        text-align: center;
        padding: 4rem 1rem 4rem 1rem;

        & h2 {
            font-size: 2.4rem;
            font-weight: 600;
        }

        &::before {
            content: ' ';
            background: url(../images/points-bg.png);
            background-size: cover;
            height: 132px;
            right: 2%;
            position: absolute;
            top: 2%;
            width: 71px;
            z-index: 2;
        }
    }

    & .testimonial-item-wrapper {
        background: @graybg;
        position: relative;
        padding: 4rem 6rem;
        margin: 3.5rem 0;

        &::before {
            content: ' ';
            background: url(../images/quote.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 70px;
            left: 6%;
            position: absolute;
            top: -10%;
            width: 88px;
            z-index: 2;
        }

        & .desc {
            font-size: 1.2rem;
            min-height: 150px;
        }

        & .title {
            color: @blue;
            font-size: 0.9rem;

            & h3 {
                font-size: 1rem;
            }
        }

        & .star-container {
            color: @yellow1;

            & .fa {
                margin-right: 5px;
            }
        }
    }

    & .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: none;
        border: 2px solid @blue;
        opacity: 1;
    }

    & .swiper-pagination-bullet-active {
        background: @blue;
    }
}

.progress-bar-container {
    padding: 2rem 1rem 5rem 1rem;

    & .progress-item {
        & h4 {
            font-size: 1rem;
            font-weight: 600;
            color: @yellow1;
        }

        & h3 {
            font-family: @secondfont;
            color: @blue;
        }
    }

    & .progress-item-last {
        text-align: right;
    }

    & .progress {
        border-radius: 20px;
    }

    & .progress-bar {
        background-color: @blue;
        border-radius: 20px;
    }
}

.landing-thanks-page-container {
    font-family: @mainfont;
    text-align: center;
    padding: 3rem 1rem;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @secondfont;
    }
}

.landing-thanks-page-container svg.thanks-svg {
    max-width: 100px;
    display: block;
    margin: 3rem auto;
}

.landing-thanks-page-container h1 {
    color: @blue;
    font-weight: 800;
}

.landing-thanks-page-container .btn-thanks-action {
    margin-top: 3rem;
    background: @yellow1;
    color: #ffffff;
    padding: 1rem 4rem;
    font-size: 1.1rem;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.landing-thanks-page-container .btn-thanks-action:hover {
    background: @yellow2;
    color: #ffffff;
}

.date-update {
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 0.9rem;
    color: #2b4c6f;
    font-weight: 600;
}