/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: #828282;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  height: 80px;
  width: 80px;
}
.loader:after {
  content: " ";
  animation: loader-spin 1.2s linear infinite;
  border-color: #000000 transparent #000000 transparent;
  border-radius: 50%;
  border: 6px solid #000000;
  display: block;
  height: 64px;
  margin: 8px;
  width: 64px;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  background: #2B4C6F;
  color: #ffffff;
  padding: 1.5rem 1rem;
}
.the-header .header-item .btn-header {
  background: #F39930;
  border-radius: 0;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem 2.5rem;
}
.the-header .header-item .btn-header:hover {
  background: #FFD15C;
  color: #ffffff;
}
.the-header .header-left {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 0.5rem;
}
.the-header .header-right {
  text-align: right;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: #2B4C6F;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 200;
  padding: 2.5rem 1rem;
  text-align: center;
}
.the-footer a {
  color: #ffffff;
  text-decoration: none;
}
.the-footer a:hover {
  color: #F39930;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-banner-container {
  padding: 7rem 1rem;
}
.main-banner-container .main-banner-img {
  position: relative;
}
.main-banner-container .main-banner-img::before {
  content: ' ';
  background: url(../images/points-bg.png);
  background-size: cover;
  height: 132px;
  left: 0%;
  position: absolute;
  top: 30%;
  width: 71px;
  z-index: -1;
}
.main-banner-container .main-banner-img img {
  max-width: 80%;
}
.main-banner-container .main-banner-text {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.5rem;
}
.main-banner-container .main-banner-text .intro {
  color: #F39930;
  font-family: 'Domine', serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.main-banner-container .main-banner-text h1 {
  color: #2B4C6F;
  font-family: 'Domine', serif;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.main-banner-container .main-banner-text h2 {
  color: #2B4C6F;
  font-family: 'Domine', serif;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.main-prices-container {
  background: #F6F5FA;
  padding: 7rem 1rem;
  position: relative;
}
.main-prices-container .main-prices-title {
  color: #2B4C6F;
  font-family: 'Domine', serif;
  text-align: center;
}
.main-prices-container .main-prices-title h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.main-prices-container .main-prices-desc {
  color: #2B4C6F;
  text-align: center;
  padding: 1.5rem 1rem;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper {
  align-items: center;
  background: white;
  box-shadow: 0px 2.93592px 14.6796px rgba(69, 68, 68, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 360px;
  padding: 2.5rem 4rem;
  text-align: center;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper h3 {
  color: #2B4C6F;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  position: relative;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper h3::after {
  content: ' ';
  position: absolute;
  bottom: -22px;
  left: 42.5%;
  width: 20px;
  height: 1px;
  background-color: #2B4C6F;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper .desc {
  font-size: 0.9rem;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper .actions .btn-donate {
  background: #F39930;
  border-radius: 0;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
}
.main-prices-container .main-prices-item .main-prices-item-wrapper .actions .btn-donate:hover {
  background: #FFD15C;
  color: #ffffff;
}
.main-benefits-container {
  background: #F6F5FA;
  padding: 2rem 1rem 5rem 1rem;
  position: relative;
}
.main-benefits-container::before {
  content: ' ';
  background: url(../images/points-bg.png);
  background-size: cover;
  height: 132px;
  left: 12%;
  position: absolute;
  top: -7%;
  width: 71px;
  z-index: 2;
}
.main-benefits-container .main-benefits-title {
  color: #2B4C6F;
  font-family: 'Domine', serif;
  text-align: center;
  padding: 1.5rem 1rem 5rem 1rem;
}
.main-benefits-container .main-benefits-title h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.main-benefits-container .main-benefits-title h2 strong {
  color: #F39930;
}
.main-benefits-container .main-benefits-item {
  padding: 2rem 3rem;
  text-align: center;
}
.main-benefits-container .main-benefits-item img {
  margin-bottom: 2rem;
}
.main-about-container {
  background: #F6F5FA;
  position: relative;
}
.main-about-container::before {
  content: ' ';
  background: url(../images/points-bg.png);
  background-size: cover;
  height: 132px;
  left: 12%;
  position: absolute;
  top: -7%;
  width: 71px;
  z-index: 2;
}
.main-about-container .main-banner-img::before {
  display: none;
}
.main-about-container .main-banner-text .intro {
  margin-bottom: 1rem;
}
.main-testimonials-container {
  padding: 5rem 1rem;
}
.main-testimonials-container .main-testimonials-title {
  position: relative;
  color: #2B4C6F;
  font-family: 'Domine', serif;
  text-align: center;
  padding: 4rem 1rem 4rem 1rem;
}
.main-testimonials-container .main-testimonials-title h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.main-testimonials-container .main-testimonials-title::before {
  content: ' ';
  background: url(../images/points-bg.png);
  background-size: cover;
  height: 132px;
  right: 2%;
  position: absolute;
  top: 2%;
  width: 71px;
  z-index: 2;
}
.main-testimonials-container .testimonial-item-wrapper {
  background: #F6F5FA;
  position: relative;
  padding: 4rem 6rem;
  margin: 3.5rem 0;
}
.main-testimonials-container .testimonial-item-wrapper::before {
  content: ' ';
  background: url(../images/quote.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  left: 6%;
  position: absolute;
  top: -10%;
  width: 88px;
  z-index: 2;
}
.main-testimonials-container .testimonial-item-wrapper .desc {
  font-size: 1.2rem;
  min-height: 150px;
}
.main-testimonials-container .testimonial-item-wrapper .title {
  color: #2B4C6F;
  font-size: 0.9rem;
}
.main-testimonials-container .testimonial-item-wrapper .title h3 {
  font-size: 1rem;
}
.main-testimonials-container .testimonial-item-wrapper .star-container {
  color: #F39930;
}
.main-testimonials-container .testimonial-item-wrapper .star-container .fa {
  margin-right: 5px;
}
.main-testimonials-container .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: none;
  border: 2px solid #2B4C6F;
  opacity: 1;
}
.main-testimonials-container .swiper-pagination-bullet-active {
  background: #2B4C6F;
}
.progress-bar-container {
  padding: 2rem 1rem 5rem 1rem;
}
.progress-bar-container .progress-item h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #F39930;
}
.progress-bar-container .progress-item h3 {
  font-family: 'Domine', serif;
  color: #2B4C6F;
}
.progress-bar-container .progress-item-last {
  text-align: right;
}
.progress-bar-container .progress {
  border-radius: 20px;
}
.progress-bar-container .progress-bar {
  background-color: #2B4C6F;
  border-radius: 20px;
}
.landing-thanks-page-container {
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 3rem 1rem;
}
.landing-thanks-page-container h1,
.landing-thanks-page-container h2,
.landing-thanks-page-container h3,
.landing-thanks-page-container h4,
.landing-thanks-page-container h5,
.landing-thanks-page-container h6 {
  font-family: 'Domine', serif;
}
.landing-thanks-page-container svg.thanks-svg {
  max-width: 100px;
  display: block;
  margin: 3rem auto;
}
.landing-thanks-page-container h1 {
  color: #2B4C6F;
  font-weight: 800;
}
.landing-thanks-page-container .btn-thanks-action {
  margin-top: 3rem;
  background: #F39930;
  color: #ffffff;
  padding: 1rem 4rem;
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.landing-thanks-page-container .btn-thanks-action:hover {
  background: #FFD15C;
  color: #ffffff;
}
.date-update {
  text-align: center;
  padding: 1rem 0 0 0;
  font-size: 0.9rem;
  color: #2b4c6f;
  font-weight: 600;
}
