// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {}

@media (max-width: 1170px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 767px
-------------------------------------------------------------- */
@media (max-width: 767px) {
    .the-header {
        padding: 0.8rem 0 1rem 0;
    }

    .the-header .header-left {
        line-height: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .the-header .header-right {
        text-align: center;
    }
}

@media (max-width: 600px) {}

@media (max-width: 533px) {}

@media (max-width: 424px) {}

@media (max-width: 414px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}